<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960120403037-dgbsl38edv20uu2gsubpn2ev0ut701t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960120403037-dgbsl38edv20uu2gsubpn2ev0ut701t5</string>
	<key>API_KEY</key>
	<string>AIzaSyCxFjf7EFL9BarpphA14L6xsXIsqr45N3o</string>
	<key>GCM_SENDER_ID</key>
	<string>960120403037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noumenon.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b7347</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b7347.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960120403037:ios:275ad7a847e62fd46109b4</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-b7347.firebaseio.com</string>
</dict>
</plist>